{%extends 'base.html'%}

{%block title%}Macacaó Café - Nosotros{%endblock%}

{%block content%}
    <header>
        <h1>Acerca de Nosotros</h1>
    </header>
    <section>
        <p> Bienvenidos a nuestra página "Acerca de nosotros". Aquí puedes encontrar información sobre nuestro equipo y nuestra misión.</p>
    </section>
    <footer>
    <p>&copy;   2024 Mi Empresa</p>
</footer>




{%endblock%}
<!-- <div class="container">
    <h3>Visita nuestas tiendas</h3>
    <div class="container">
        <ul>
            <li>Pueba1</li>
            <li>Pueba2</li>
            <li>Pueba3</li>
            <li>Pueba4</li>
        </ul>
    </div>
</div> -->